/*
filename: siteDetail.css

site wide CSS detail configuration


 */
 
@import url("css/print.css") print;
 
#christchurchtitle
{
  font-weight: bold;
	/* font-size:30px; */
	font-size:2em;
}

#christchurchaddress
{
  font-weight: bold;
	/* font-size:15px; */
	font-size:1.2em
}

#error
{
	color: red;
	/* font-weight: bold; */
  /* font-size: 12px; */
  font-size: 0.7em;
	/* font-style: italic; */
	/* font-style: oblique; */
}

/**********************************************
Anchors CSS
**************/
a
{
	FONT-WEIGHT: bold;
	color: #3675A3;
	/* COLOR: orange; */
	TEXT-DECORATION: none;
}

a:hover
{
	color: orange;	/* mouse over a link turns it to orange */
}



/* Used for church image - top of left hand column */
img.churchtopleft
{/* scalable em size class 468px/60px banners */

	width: 98%;  /* forces church image to fill entire width of left column */
  height: 10em;
	/* margin-top: 0.5em; */
	/* margin-left: 0.5em; */
	/* margin-bottom: 0.5em; */
	/* margin-right: 0.5em; */
  border: blue 1px solid;
	border-radius: 5px;
  padding: 4px;
	background: white;
}


/* Class for containg div for below image size */
.churchcenter
{ /* scaleable container for above */
	margin-left:0.5em;
	margin-bottom:0.5em;
	float:right;
}

/* Used for church image at top of center column */
img.churchcenterimg
{/* scalable em size class 468px/60px banners */
	margin-top:0em;
	width: 16em;
  height: 10em;
  border: blue 1px solid;
	border-radius:5px;
  padding: 4px;
	background: white;
}

.menutitle
{
	font-weight: bold;
	font-size: 1.2em;
}

#new
{
	color: red;
	font-weight: bold;
  /* font-size: 12px; */
  font-size: 0.7em;
	/* font-style: italic; */
	font-style: oblique;
}

#surroundbox
{
	text-align: center;
	margin:4px;
	float:right; 
	width:100px; 
	color:red;
	border:1px solid red;
}

#leftcolumn
{
	font-size: 0.9em;
}

#rightcolumn
{
	font-size: 0.9em;
}


/* used by tooltip javascript for mission statement on home page */
#missionstatement
{
	margin-left:10em;
	text-align:center;
	width:50%;
}

/* changes the line height for the "Welcome to a Thriving Evangelical Anglican Church" */
/* text in home.php */
.hometitle
{
	line-height: 1.1em;
}

/**********************************************************************

CSS for email data entry form

***********************************************************************/
.emailForm table
{
	margin-left: 20px;
	width: 90%;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;
	border-top: 		black 0px solid;
	border-left: 		black	0px solid;
	border-bottom: 	black 0px solid;
	border-right:  	black	0px solid;

	empty-cells: show;   /* draw borders around empty cells */
}
.emailForm th
{
	border-top: 		black 0px solid;
	border-left: 		black	0px solid;
	border-bottom: 	black 0px solid;
	border-right:  	black	0px solid;

	text-align: left;
}
.emailForm td
{
	border-top: 		black 0px solid;
	border-left: 		black	0px solid;
	border-bottom: 	black 0px solid;
	border-right:  	black	0px solid;
}
#emailFormRecipient input
{
	color: blue;
	background: silver;
}

/**********************************************************************

CSS for forthcoming events display

***********************************************************************/
#forthcomingEventTitle
{
	font-size: 1.2em;	
	font-weight: bold;
	background: silver;
	padding-left: 1em;
	
  border: blue 1px solid;
	border-radius:5px;
  padding: 4px;
}

#forthcomingEventDate
{
	margin-left: 10px;
	font-size: 1em;		
}

#forthcomingEventDescription
{
	padding-bottom: 0.1em;
	font-size: 1em;		
}

#forthcomingEventContactPoints
{
	width: 100%;
	font-size: 1em;	
	padding-bottom: 0.5em;	
}


input
{
  border: blue 1px solid;
	border-radius:5px;	
  padding: 2px;	
}

input:hover
{
	color: orange;	/* mouse over a link turns it to orange */
}


