/*
filename: siteLayout.css

site wide CSS configuration

Layout of site only.

 */
 
#header 
{

	min-height:50px;
		
} 

#main_container 
{


}

#body
{

	min-height:400px;

}

#footer 
{

	min-height:50px;
		
}