/*
filename: site.css

site wide CSS configuration

Appearance of site only.

 */
 
body
{
	
	line-height: 1.3em;
	color:blue;
	background: #deedff;
	font-size: 0.8em;
	font-family: Arial, "Times New Roman", Helvetica, sans-serif;
	
} 

 
#header 
{

	border-bottom:solid 2px blue;		
		
} 
 
 
#main_container 
{

}


#footer 
{
	
	text-align:center;
	border-top:solid 2px blue;			
		
}